.row{
    margin-left: 20px;
    color: #fff;
}
.posters{
    display: flex;
    flex-direction: row;
    padding: 20px;
    overflow-x:scroll ;
}


.poster{
    max-height: 250px;
    margin-right: 10px;
}